Repository opensearch-project/opensearch-migrations, pull requests merged in 2023-08, with the labels that each got.

#277 Handle Chunked Transfer-Encoding for humanReadableLogs
  TrafficCapture/dockerSolution/src/main/docker/migrationConsole/humanReadableLogs.py
Labels: capture-and-replay-v.0.1.0, backport capture-and-replace-v0.1.0

#279 Sync devDeploy with recent Replayer auth changes
  TrafficCapture/trafficReplayer/README.md
  deployment/cdk/opensearch-service-migration/lib/opensearch-service-domain-cdk-stack.ts
  deployment/copilot/README.md
  deployment/copilot/devDeploy.sh
Labels: backport capture-and-replay-v0.1.0

#284 Align Capture Proxy naming and Improve Migration Console UX
  TrafficCapture/dockerSolution/src/main/docker/docker-compose.yml
  TrafficCapture/dockerSolution/src/main/docker/migrationConsole/Dockerfile
  TrafficCapture/dockerSolution/src/main/docker/migrationConsole/catIndices.sh
  TrafficCapture/dockerSolution/src/main/docker/migrationConsole/runTestBenchmarks.sh
  deployment/copilot/README.md
  deployment/copilot/capture-proxy-es/manifest.yml
  deployment/copilot/capture-proxy/manifest.yml
  deployment/copilot/migration-console/manifest.yml
Labels: backport capture-and-replay-v0.1.0

#283 Use CRLF in NettyJsonToByteBufHandler
  TrafficCapture/dockerSolution/src/main/docker/migrationConsole/humanReadableLogs.py
  TrafficCapture/trafficReplayer/src/main/java/org/opensearch/migrations/replay/SourceTargetCaptureTuple.java
  TrafficCapture/trafficReplayer/src/main/java/org/opensearch/migrations/replay/TrafficReplayer.java
  TrafficCapture/trafficReplayer/src/main/java/org/opensearch/migrations/replay/datahandlers/http/NettyJsonToByteBufHandler.java
  TrafficCapture/trafficReplayer/src/test/java/org/opensearch/migrations/replay/HeaderTransformerTest.java
  TrafficCapture/trafficReplayer/src/test/java/org/opensearch/migrations/replay/TestUtils.java
Labels: capture-and-replay-v.0.1.0, backport capture-and-replay-v0.1.0
